.team-heading {
    background-color: #ff7300;
    color: #ffffff;
  }
  
  .team-area {
    max-width: 1000px;
    margin: 3em auto;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 1em;
    max-width: 280px;
    width: 90%;
    min-height: 22rem;
    background-color: #ff7300;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 2rem;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ff7300;
    border-radius: 2rem;
  }
  
  .list-group-item {
    color: #000000;
    text-decoration: none;
  }